<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Message_ServerType" value="KAFKA"/>
    <add key="Kafka_GroupID" value="Group1"/>
    <add key="Kafka_Servers" value="localhost:9092"/>
    <add key="Kafka_TopicName" value="Topic1"/>
    <add key="RabbitMQ_HostName" value="localhost"/>
    <add key="RabbitMQ_Port" value="5672"/>
    <add key="RabbitMQ_UserName" value="vnhai"/>
    <add key="RabbitMQ_Password" value="1"/>
    <add key="RabbitMQ_TopicName" value="Topic1"/>
  </appSettings>
</configuration>